.calinput{
  max-width: 210px;
}
.calenderbox{
  height: 50%;
  width: 50%;
  border: 1px solid black;
  position: absolute;
  padding: 20px;
}
.calenderbox .active{
  background-color: grey;
}
.calenderbox button[disabled]{
  background-color: white;
  color: lightgray;
  cursor: not-allowed;
  border-width: 0px;
  border-style: none;
  border-color: white;
  border-image: none;
}
.monrow{
  border-right: 1px solid lightgoldenrodyellow;
}
.calenderbox button{
  border-width: 0px;
  border-style: none;
  border-color: white;
  border-image: none;
  background-color: white;
}
.label{
  text-align: center;
  color: black;
  font-size: 12px;
}
td{
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
th{
  text-align: center;
  padding:12px;
}

